.slider {
    outline: 2px solid black;
    padding: 5px;
    display: grid;
    grid-gap: 1px;
}

.row {
    display: flex;
    overflow: hidden;
    height: 50px;
    flex-direction: row
}

.col {
    display: flex;
    flex-direction: column
}

.tile {
    width: 50px;
    height: 50px;
    background-color: #aaaaaa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    margin: 1px 1px 0 0;
    order: 1;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*.tile:hover {*/
    /*animation: hide 1s ease-in-out*/
/*}*/

.tile.clickable:not(.blank) {
    cursor: pointer
}

.tile.blank {
    background-color: transparent
}

@keyframes hide {
    to {
        margin-top: 50px
    }
}
